.item {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 15px;
  padding: 15px;
  margin-inline: 10px;
  font-weight: 600;
  background-color: #ffffff;
  border-radius: 10px;

  &__checkbox {
    position: relative;
    appearance: none;
    width: 20px;
    height: 20px;
    margin: 0;
    border: 1px solid #abaeb3;
    border-radius: 50%;
    cursor: pointer;

    &:not(:checked) {
      &::after {
        opacity: 0;
      }
    }

    &:checked {
      background-color: #5492ff;
      border: none;

      & + .item__label {
        text-decoration: line-through;
        color: #abaeb3;
      }
    }

    &::after {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      background: url("../../assets/icons/check-icon.svg") center/contain no-repeat;

    }
  }

  &__label {
    max-width: 215px;
    overflow-wrap: break-word;
    user-select: none;
  }

  &__button-edit,
  &__button-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 10px;
    padding-inline: 20px;
    cursor: pointer;
  }

  &__button-edit {
    margin-left: auto;
  }

  &__button-delete {
    background-color: #fb6759;
  }

  &__edit-field {
    height: 50px;
    padding-inline: 10px;
    font-weight: 600;
    border: none;
    border-bottom: 2px solid #dde0e5;
    background-color: transparent;

    &.is-invalid {
      border: 2px solid #fb6759;
      border-radius: 10px;
    }
  }

  &__edit-button-save,
  &__edit-button-cancel {
    height: 50px;
    border: none;
    font-weight: 600;
    border-radius: 10px;
    padding-inline: 20px;
    cursor: pointer;
    color: #ffffff;
  }

  &__edit-button-save {
    background-color: #5492ff;
  }

  &__edit-button-cancel {
    background-color: #fb6759;
  }

  &__edit-error {
    position: absolute;
    top: 50%;
    left: -50%;
    translate: -50% -50%;
    padding: 20px;
    border-radius: 10px;
    font-weight: 600;
    overflow: hidden;
    color: #fb6759;
    border: 2px solid #fb6759;
  }

}