.item {
  position: relative;
  display: flex;
  max-width: 420px;
  align-items: center;
  column-gap: 15px;
  padding: 15px;
  margin-inline: 10px;
  font-weight: 600;
  background-color: #ffffff;
  border-radius: 10px;
}

.checkbox {
  position: relative;
  appearance: none;
  width: 20px;
  height: 20px;
  margin: 0;
  border: 1px solid #abaeb3;
  border-radius: 50%;
  cursor: pointer;

  &:not(:checked) {
    &::after {
      opacity: 0;
    }
  }

  &:checked {
    background-color: #5492ff;
    border: none;

    & + .item__label {
      text-decoration: line-through;
      color: #abaeb3;
    }
  }

  &::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background: url("../../assets/icons/check-icon.svg") center/contain no-repeat;

  }
}

.label {
  max-width: 205px;
  overflow-wrap: break-word;
  user-select: none;
}

.editButton,
.deleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 10px;
  padding-inline: 20px;
  cursor: pointer;
}

.editButton {
  margin-left: auto;
}

.editTitle {
  max-width: 205px;
  height: 50px;
  padding-inline: 10px;
  font-weight: 600;
  border: none;
  border-bottom: 2px solid #dde0e5;
  background-color: transparent;

  &.isInvalid {
    border: 2px solid #fb6759;
    border-radius: 5px;
  }
}

.editButtonSave,
.editButtonCancel {
  height: 50px;
  border: none;
  font-weight: 600;
  border-radius: 10px;
  padding-inline: 20px;
  cursor: pointer;
  color: #ffffff;
}

.error {
  position: absolute;
  top: 50%;
  left: -100%;
  transform: translateY(-50%);
  font-weight: 600;
  border: 1px solid #fb6759;
  color: #fb6759;
  border-radius: 10px;
  padding: 10px;
}
