.field {
  position: relative;
  display: grid;
  grid-template-columns: 280px auto;
  align-items: center;
  column-gap: 15px;

  &-input {
    max-width: 280px;
    height: 50px;
    padding-inline: 10px;
    font-weight: 600;
    border: none;
    border-bottom: 2px solid #dde0e5;
    background-color: transparent;

    &.is-invalid {
      border: 2px solid #fb6759;
      border-radius: 10px;
    }
  }

  &-button {
    padding: 17px 60px;
    border-radius: 10px;
    cursor: pointer;
  }

  &__error {
    position: absolute;
    top: -150%;
    left: 50%;
    translate: -50% -50%;
    padding: 20px;
    border-radius: 10px;
    font-weight: 600;
    overflow: hidden;
    color: #fb6759;
    border: 2px solid #fb6759;
  }
} 