* {
  box-sizing: border-box;
  transition-duration: 0.2s;
}

body {
  height: 100vh;
  padding-top: 100px;
  padding-inline: 30px;
  display: flex;
  justify-content: center;
  align-items: start;
  font-family: Inter, sans-serif;
}